:root {
    --vintage-black: rgb(37, 34, 34);
    --vintage-white: rgb(248, 242, 238);
    --grey: rgb(100, 100, 100);
}

body {
    margin: 0;
    font-size: 1.1em;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a {
    color: inherit;
}

.navbar {
    background-image: url("./images/leather.jpg");
    color: var(--vintage-white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 20px;
}

.navbar a {
    padding: 20px;
    cursor: pointer;
}

.body {
    margin-top: 60px;
    height: calc(100vh - 60px);
    width: 100vw;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}

#logo {
    width: 30%;
    -webkit-filter: invert(1);
    filter: invert(1);
}
.parallax {
    width: 100vw;
    min-height:110vh;
    color: var(--vintage-white);
    box-sizing: border-box;
    transform-style: preserve-3d;
    background-color: rgba(0,0,0,0.6);
    font-weight: bold;
}

.parallax::before {
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;  
    background-size: cover;
    background-position: center;
}

.wrapper-1::before {
    background-image: url("./images/parallax/parallax1.jpg");
    transform:translateZ(-1px) scale(2);
    z-index: -1;
}

.wrapper-2::before {
    background-image: url("./images/parallax/parallax2.jpg");
    transform:translateZ(-1px) scale(2);
    z-index: -1;
}

.regular-wrapper {
    width: 100%;
    background-color: var(--vintage-white);
    z-index: 2;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Copperplate, "Copperplate Gothic Light";
    font-weight: lighter;

}

.title {
    font-size: 2em;
    color: var(--vintage-white);
}

.title p{
    font-size: 0.6em;
    font-weight: lighter;
    font-family: Copperplate, "Copperplate Gothic Light";
}

.title .socials {
    font-size: 1em;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.title .socials a {
    margin: 0 10px;
}

.content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 100px;
    width: 100%;
}

.content.leather {
    background-image: url("./images/leather.jpg");
    background-size: cover;
    color: var(--vintage-white);
}

.content.leather-brown {
    background-image: url("./images/leather-brown.jpg");
    background-size: cover;
    color: var(--vintage-white);
}

table {
    margin-left:auto; 
    margin-right:auto;
  }

td {
    padding:0 20px;
}

.prices div{
    margin-top: 1em;
    font-size: 2em;
}

.prices p{
    margin: -0.2em 0;
}

#myBook {
    margin-top: 1em;
    background-image: url('./images/book.png');
    background-size: cover ;
}

#myBook .page{
    box-sizing: border-box;
    margin: 10px;
    background-size: cover;
    cursor: pointer;
}

#myBook .page.right{
    background-image: url('./images/paper-right.jpg');
}

#myBook .page span:not(.cover)::after{
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: calc(50% - 0.75em);
    content: 'v';
    border: 1px solid black;
    border-radius: 50%;
    color: var(--vintage-black);
    background-color: var(--vintage-white);
}

#myBook .page.right span:not(.cover)::after{
    right: 10px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

#myBook .page.left span:not(.cover)::after{
    left: 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

#myBook .page.left{
    background-image: url('./images/paper-left.jpg');
}

#myBook .page img{
    text-align: center;
    box-shadow: ;
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);

    max-width: 90%;
    max-height: 90%;

    -webkit-box-shadow: 0 0 10px 0 var(--vintage-black);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 0 10px 0 var(--vintage-black);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 0 10px 0 var(--vintage-black);

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#television {

    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 1em;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#television img{
    max-width: 100%;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#tv-source {
    position: absolute;
    object-fit: cover;
    width: 70%;
    height: 70%;
    top:10%;
    left: 5%;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#tv-frame {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#identikit img {
    width: 60%;
    border-radius: 50%;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#identikit .kit {
    width:60%;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--vintage-black);
    margin-top: 1em;
    padding: 1em;
}

#identikit .left {
    text-align: left;
}

#identikit h2 {
    font-weight: bold;
    height: 2em;
}

#identikit strong {
    font-family: Copperplate, "Copperplate Gothic Light";
    font-size: 1.1em;
}

#identikit p {
    margin-block-start: 0.5em;
}

#identikit .waarom {
    font-size: 0.8em;
}

@media only screen and (min-width: 1100px){
    #logo {
        width: 15%;
    }

    .content {
        padding: 100px 300px;
    }
    .content.gallery p{
        padding: 0 200px;
    }

    #identikit .kit {
        width: 40%;
    }
  }